$primary: #5265E1;
$secondary: #FA5959;

// $navbar-padding-y: $spacer * 2;
$navbar-nav-link-padding-x: 2rem;
$navbar-light-hover-color: $secondary;

$btn-padding-x: 2rem;
$btn-font-weight: medium;

$headings-font-weight: 700;
